In [43]:
import pandas as pd
import sys



df = pd.read_csv("/content/drive/MyDrive/IPLcontest/pastData/ballByball.csv")




df = df[df.ID >= 1175356]
df = df[df.overs < 7 ]

team = [
    "Rajasthan Royals",
    "Gujarat Titans",
    "Royal Challengers Bangalore",
    "Lucknow Super Giants",
    "Sunrisers Hyderabad",
    "Punjab Kings",
    "Delhi Capitals",
    "Mumbai Indians",
    "Chennai Super Kings",
    "Kolkata Knight Riders"
]
df = df[df.BattingTeam.isin(team)]



df.to_csv("/content/drive/MyDrive/IPLcontest/pastData/ballByball.csv")


df = pd.read_csv("/content/drive/MyDrive/IPLcontest/pastData/ballByball.csv")



df.tail(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
20830,57705,57705,61140,1175356,2,6,7,SK Raina,Navdeep Saini,AT Rayudu,NaN,0,0,0,0,0,NaN,NaN,NaN,Chennai Super Kings

In [ ]:
import pandas as pd



df = pd.read_csv("/content/drive/MyDrive/IPLcontest/pastData/matchResult.csv")

team = [
    "Rajasthan Royals",
    "Gujarat Titans",
    "Royal Challengers Bangalore",
    "Lucknow Super Giants",
    "Sunrisers Hyderabad",
    "Punjab Kings",
    "Delhi Capitals",
    "Mumbai Indians",
    "Chennai Super Kings",
    "Kolkata Knight Riders"
]

df = df[df.Team1.isin(team)]
df = df[df.Team1.isin(team)]

df = df[df.Season >= "2019"]


df.to_csv("/content/drive/MyDrive/IPLcontest/pastData/matchResult.csv")

df = pd.read_csv("/content/drive/MyDrive/IPLcontest/pastData/matchResult.csv")



df.tail(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ID,City,Date,Season,MatchNumber,Team1,Team2,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
240,240,240,253,1175356,Chennai,2019-03-23,2019,1,Royal Challengers Bangalore,Chennai Super Kings,...,N,Chennai Super Kings,Wickets,7.0,NaN,Harbhajan Singh,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad...",AY Dandekar,BNJ Oxenford